<header>
    <nav>
        <a href="/">Anime Tagalog</a>
        <ul>
            <li><a href="/shows">Shows</a></li>
            <li><a href="/shows/new">Add Show</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Create Author</a></li>
        </ul>
    </nav>
</header>