<h2>New Show</h2>
<form action="/shows" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/shows">Cancel</a>
    <button type="submit">Creare</button>
</form>